 .u-section-1 {
  background-image: url("images/bnbnn.jpg");
  background-position: 50% 50%;
  min-height: 660px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 660px;
  background-image: url("images/fff.png");
  background-position: 100% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-image-2 {
  width: 617px;
  height: 617px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 660px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-1 .u-line-1 {
  width: 111px;
  height: 6px;
  transform-origin: left center;
  margin: 74px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
  margin: 23px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: none;
  background-image: none;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 577px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-image-1 {
    min-height: 577px;
  }

  .u-section-1 .u-image-2 {
    height: 506px;
    width: 528px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 577px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 320px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-image-1 {
    background-position: 26.97% 50%;
    min-height: 677px;
    order: 1;
  }

  .u-section-1 .u-image-2 {
    width: 655px;
    height: 617px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 547px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-image-1 {
    background-position: 100% 50%;
    min-height: 505px;
  }

  .u-section-1 .u-image-2 {
    height: 501px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 336px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }

  .u-section-1 .u-image-2 {
    height: 312px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
} .u-section-2 {
  background-image: linear-gradient(to right, #c5c9f9, #fee7ef);
}

.u-section-2 .u-sheet-1 {
  min-height: 550px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 67px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 28px 0 6px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 16.5px));
  min-height: 381px;
  grid-gap: 22px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-group-1 {
  min-height: 50px;
  width: 50px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 20px 1px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-group-2 {
  min-height: 50px;
  width: 50px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 20px 1px 0 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-group-3 {
  min-height: 50px;
  width: 50px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 20px 1px 0 0;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-group-4 {
  min-height: 50px;
  width: 50px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 20px 1px 0 0;
}

.u-section-2 .u-text-13 {
  font-style: italic;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 314px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 938px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 697px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
  min-height: 903px;
}

.u-section-3 .u-shape-1 {
  height: 487px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(to right, #c5c9f9, #fee7ef);
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -374px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 376px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: none;
  background-image: none;
  margin: 30px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 341px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: none;
  background-image: none;
  margin: 30px auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 621px;
  background-image: url("images/51fd9010-0e67-4da4-8d7c-c3d29050c133.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 310px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 281px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 512px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1564px;
  }

  .u-section-3 .u-shape-1 {
    height: 390px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 784px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1377px;
  }

  .u-section-3 .u-shape-1 {
    height: 422px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    min-height: 588px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1330px;
  }

  .u-section-3 .u-shape-1 {
    height: 419px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 370px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 666px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 512px;
}

.u-section-4 .u-container-layout-1 {
  padding: 40px 25px;
}

.u-section-4 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 512px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

.u-section-4 .u-image-1 {
  height: 442px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 70px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 422px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-1 {
    height: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 401px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 568px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 484px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -102px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 374px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 310px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 235px;
  }

  .u-section-4 .u-image-1 {
    height: 193px;
  }
} .u-section-5 {
  background-image: linear-gradient(to right, #fee7ef, #c5c9f9);
}

.u-section-5 .u-sheet-1 {
  min-height: 1359px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 67px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  min-height: 1054px;
  grid-gap: 27px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px 30px 30px;
}

.u-section-5 .u-image-1 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 10px auto 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  border-style: solid;
  font-size: 0.9375rem;
  margin: 19px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 30px 30px;
}

.u-section-5 .u-image-2 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 10px auto 0;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  border-style: solid;
  font-size: 0.9375rem;
  margin: 19px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 30px 30px;
}

.u-section-5 .u-image-3 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 10px auto 0;
}

.u-section-5 .u-btn-3 {
  font-weight: 700;
  border-style: solid;
  font-size: 0.9375rem;
  margin: 19px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px 30px 30px;
}

.u-section-5 .u-image-4 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-5 {
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 10px auto 0;
}

.u-section-5 .u-btn-4 {
  font-weight: 700;
  border-style: solid;
  font-size: 0.9375rem;
  margin: 19px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-5 .u-list-item-5 {
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px 30px 30px;
}

.u-section-5 .u-image-5 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-6 {
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 10px auto 0;
}

.u-section-5 .u-btn-5 {
  font-weight: 700;
  border-style: solid;
  font-size: 0.9375rem;
  margin: 19px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-5 .u-list-item-6 {
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px 30px 30px;
}

.u-section-5 .u-image-6 {
  height: 284px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-7 {
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 10px auto 0;
}

.u-section-5 .u-btn-6 {
  font-weight: 700;
  border-style: solid;
  font-size: 0.9375rem;
  margin: 19px auto 0;
  padding: 6px 46px 7px 45px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1325px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18px));
    min-height: 869px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-1 {
    height: 225px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-2 {
    height: 225px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-3 {
    height: 225px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-4 {
    height: 225px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-5 {
    height: 225px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-6 {
    height: 225px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 1498px;
  }

  .u-section-5 .u-image-1 {
    height: 263px;
  }

  .u-section-5 .u-image-2 {
    height: 263px;
  }

  .u-section-5 .u-image-3 {
    height: 263px;
  }

  .u-section-5 .u-image-4 {
    height: 263px;
  }

  .u-section-5 .u-image-5 {
    height: 263px;
  }

  .u-section-5 .u-image-6 {
    height: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 427px;
  }

  .u-section-5 .u-image-2 {
    height: 427px;
  }

  .u-section-5 .u-image-3 {
    height: 427px;
  }

  .u-section-5 .u-image-4 {
    height: 427px;
  }

  .u-section-5 .u-image-5 {
    height: 427px;
  }

  .u-section-5 .u-image-6 {
    height: 427px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 273px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 273px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 273px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    height: 273px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    height: 273px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-6 {
    height: 273px;
  }
} .u-section-6 {
  background-image: linear-gradient(#f9a0bf, #c5c9f9);
}

.u-section-6 .u-sheet-1 {
  min-height: 688px;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  font-family: Anton;
  width: 368px;
  margin: 59px auto 0;
}

.u-section-6 .u-list-1 {
  grid-auto-rows: 100%;
  width: 952px;
  margin: 43px auto;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 8px));
  min-height: 464px;
  grid-auto-columns: calc(33.3333% - 8px);
  grid-gap: 12px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 0 18px;
}

.u-section-6 .u-image-1 {
  height: 240px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 240px;
  background-image: url("images/51fd9010-0e67-4da4-8d7c-c3d29050c133.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 0 18px;
}

.u-section-6 .u-image-2 {
  height: 240px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 240px;
  background-image: url("images/dfdf.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-6 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

.u-section-6 .u-icon-6 {
  height: 100%;
}

.u-section-6 .u-icon-7 {
  height: 100%;
}

.u-section-6 .u-icon-8 {
  height: 100%;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 0 18px;
}

.u-section-6 .u-image-3 {
  height: 240px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 240px;
  background-image: url("images/dssdd.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-6 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-6 .u-icon-9 {
  height: 100%;
}

.u-section-6 .u-icon-10 {
  height: 100%;
}

.u-section-6 .u-icon-11 {
  height: 100%;
}

.u-section-6 .u-icon-12 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 8px));
    min-height: 458px;
    grid-auto-columns: calc(33.333333333333336% - 8px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-1 {
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-2 {
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-3 {
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 6px));
    min-height: 1052px;
    grid-auto-columns: calc(50% - 6px);
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-social-icons-2 {
    margin-top: 120px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-social-icons-2 {
    margin-top: 94px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-6 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-1 {
    height: 160px;
    width: auto;
    margin-left: initial;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-2 {
    height: 160px;
    width: auto;
    margin-left: initial;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-social-icons-2 {
    margin-top: 120px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-3 {
    height: 160px;
    width: auto;
    margin-left: initial;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.875rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 816px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 70px 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 718px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 60px 30px;
}

.u-section-7 .u-image-1 {
  height: 358px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 38px auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 40px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 369px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 407px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-7 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-5 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 592px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-image-1 {
    height: 278px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 336px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 804px;
  }

  .u-section-7 .u-image-1 {
    height: 503px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 732px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 431px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    height: 265px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-8 {
  background-image: linear-gradient(to right, #fee7ef, #c5c9f9);
}

.u-section-8 .u-sheet-1 {
  min-height: 654px;
}

.u-section-8 .u-group-1 {
  width: 1140px;
  min-height: 753px;
  height: auto;
  margin: 42px -16px 0 auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-8 .u-shape-1 {
  width: 432px;
  height: 432px;
  background-image: linear-gradient(#c5c9f9, #f9a0bf);
  margin: 1px auto 0 121px;
}

.u-section-8 .u-image-1 {
  width: 638px;
  height: 638px;
  background-image: url("images/ghghghh.jpg");
  background-position: 50% 50%;
  margin: -392px 42px 0 auto;
}

.u-section-8 .u-image-2 {
  width: 367px;
  height: 367px;
  background-image: url("images/41b33903-3e8e-4cdd-bded-87e6350ce68a.jpg");
  background-position: 50% 50%;
  margin: -389px auto 0 0;
}

.u-section-8 .u-text-1 {
  margin: 42px 0 0 auto;
}

.u-section-8 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-8 .u-list-1 {
  grid-auto-rows: 100%;
  width: 1140px;
  margin: -427px auto 60px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 219px;
  grid-gap: 20px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 40px 30px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 40px 30px;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-8 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-3 {
  background-image: none;
}

.u-section-8 .u-container-layout-4 {
  padding: 40px 30px;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-8 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-8 .u-image-1 {
    width: 527px;
    height: 527px;
    margin-right: 0;
  }

  .u-section-8 .u-image-2 {
    margin-top: -278px;
  }

  .u-section-8 .u-list-1 {
    width: 940px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 181px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }

  .u-section-8 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 720px;
    margin-top: 65px;
  }

  .u-section-8 .u-shape-1 {
    width: 390px;
    height: 390px;
    margin-top: 0;
    margin-left: 39px;
  }

  .u-section-8 .u-image-1 {
    width: 465px;
    height: 465px;
    margin-top: -306px;
  }

  .u-section-8 .u-image-2 {
    width: 275px;
    height: 275px;
    margin-top: -104px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -16px;
  }

  .u-section-8 .u-list-1 {
    width: 720px;
    margin-bottom: -136px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 416px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    width: 540px;
    margin-top: 42px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-shape-1 {
    width: 333px;
    height: 333px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-8 .u-image-1 {
    width: 415px;
    height: 415px;
    margin-top: -246px;
  }

  .u-section-8 .u-image-2 {
    width: 235px;
    height: 235px;
    margin-top: -22px;
  }

  .u-section-8 .u-list-1 {
    width: 540px;
    margin-bottom: 60px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 340px;
  }

  .u-section-8 .u-shape-1 {
    width: 262px;
    height: 262px;
    margin-top: 0;
  }

  .u-section-8 .u-image-1 {
    height: 260px;
    width: 260px;
    margin-top: -90px;
  }

  .u-section-8 .u-image-2 {
    width: 213px;
    height: 213px;
    margin-top: 12px;
  }

  .u-section-8 .u-list-1 {
    width: 340px;
  }
} .u-section-9 {
  background-image: linear-gradient(to right, #fee7ef, #c5c9f9);
}

.u-section-9 .u-sheet-1 {
  min-height: 803px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 723px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-size: 2.75rem;
  margin: 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  margin: 48px 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 723px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-group-1 {
  min-height: 663px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-text-3 {
  margin: 25px 0 0;
}

.u-section-9 .u-form-1 {
  height: 466px;
  width: 445px;
  margin: 23px auto 0;
}

.u-section-9 .u-form-group-4 {
  margin-left: 0;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 596px;
  }

  .u-section-9 .u-form-1 {
    width: 350px;
  }

  .u-section-9 .u-btn-1 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
  }

  .u-section-9 .u-form-1 {
    height: 472px;
    width: 475px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-form-1 {
    width: 300px;
  }
}